* {
  padding: 0;
  margin: 0;
	font-family: 'Roboto';
}

#header-items {
  display: flex;
  height: 5rem;
  width: 100%;
  background-color: red;
  align-items: center;
  justify-content: space-between;
}

.left-icons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bar {
  padding-left: 10%;
}

.logo {
  width: 50%;
	align-items: center;
	justify-content: space-between;
	padding-right: 30%;
}

.socials {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.search-bar {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 100px;
  justify-content: space-between;
}


.search-input {
  width: 70%;
  height: 30px;
  padding-left: 10px;
}
.search-icon {
	position: relative;
	right: 90px;
}

.speaker {	
	position: relative;
	right: 150px;
}


.button {
  border: 1px solid blue;
  color: blue;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}
.first-video {
	position: absolute;
	top: 100px;
	left: 35px;
}
.text-header {
	font-size: 13px;
}
.text-body {
	font-size: small;
}
main {
	width: 70%;
}
.side-bar {
	position: absolute;
	top: 100px;
	right: 0;
	width: 30%;
}
.side-content {
	width: 100%;
	background-color: red;
}

/* 
.vid {
  position: relative;
 }
 
 .first-video {
  position: absolute;
  top: 100px; 
 } 
 
 .video {
 position: absolute;
 left: 25px;
 right: 25px;
 top: 100px;
 }    */

/* * {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

li {
 list-style: none;
}
h5 {
  color: black;
}


.header-icons {
  position: fixed;
  left: 0;
  top: 0; 
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  z-index: 70;
}

.logo {
  width: 70px;
}
.left-icons {
 margin-left:  0; 
}
.socials {
  display: flex;
}

 .right-icons {
 padding-right: 20px;
} 

.search-bar {
  align-items: center;
  border: 1px solid #333;
  margin: 0 10px;
}

.search-input {
  width: 500px;
  display: inline-flex;
  border: 0;
}

.search-icon {
  border-left: 1px solid #333;
}/*

.vid {
 position: relative;
}

.first-video {
 position: absolute;
 top: 100px; 
} 

.video {
position: absolute;
left: 25px;
right: 25px;
top: 100px;
}   