* {
  padding: 0;
  margin: 0;
	font-family: 'Roboto';
}

#header-items {
  display: flex;
  height: 5rem;
  width: 100%;
  background-color: red;
  align-items: center;
  justify-content: space-between;
}

.left-icons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bar {
  padding-left: 10%;
}

.logo {
  width: 50%;
	align-items: center;
	justify-content: space-between;
	padding-right: 30%;
}

.socials {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.search-bar {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 100px;
  justify-content: space-between;
}


.search-input {
  width: 70%;
  height: 30px;
  padding-left: 10px;
}
.search-icon {
	position: relative;
	right: 90px;
}

.speaker {	
	position: relative;
	right: 150px;
}


.button {
  border: 1px solid blue;
  color: blue;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}
.first-video {
	position: absolute;
	top: 100px;
	left: 3%;
}

.video-content {
  padding-top: 5%;
} 

.text-header {
	font-size: 18px;
  color: black;
  font-weight: 400px;
  font-size: 18px;
  line-height: 24px;
}

.text-body {
  padding-top: 5px;
	font-size: 13px;
  font-weight: 400px;
  color: rgb(96, 96, 96);
  line-height: 24px;
  padding-right: 18%;
}
.vid-icons {
padding-right:  5%;
color: rgb(96, 96, 96);
}

.icon-text {
  padding-left: 1%;
} 
main {
	width: 70%;
}

.side-bar {
	position: absolute;
	top: 100px;
	right: 5%;
	width: 30%;
}

.side-content {
	width: 100%;
	/* background-color: red; */
  display: flex;
}

.side-text {
  display: flex;
  flex-wrap: wrap;
  /* line-height: 2rem; */
  font-size: 15px;
  border: 1px solid blue;
} 

h5 {
  font-weight: bolder;
}